config
cassandradata
logs
airflow-webserver.pid
airflow.config
__pychage__
airflow.cfg 
webserver_config.py
plugins
minioaccesskey.txt
miniotest.py
__pycache__
minio_data
PicturesForProject.pptx
~$PicturesForProject.pptx